<%= provide(:title, "Contact - Kohl Kohlbrenner") %>

    <div class="container"> 

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact
                        <strong>business casual</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-8">
                    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48388.11257552174!2d-74.36168805!3d40.7123578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3ae3f4c51b33d%3A0x90e229d96fad276f!2sSummit%2C+NJ!5e0!3m2!1sen!2sus!4v1430438369963"></iframe>
                </div>
                <div class="col-md-4">
                    <p>Phone:
                        <strong>123.456.7890</strong>
                    </p>
                    <p>Email:
                        <strong><a href="mailto:name@example.com">name@example.com</a></strong>
                    </p>
                    <p>Address:
                        <strong>3481 Melrose Place
                            <br>Beverly Hills, CA 90210</strong>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact
                        <strong>form</strong>
                    </h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, vitae, distinctio, possimus repudiandae cupiditate ipsum excepturi dicta neque eaque voluptates tempora veniam esse earum sapiente optio deleniti consequuntur eos voluptatem.</p>

                            <%= form_tag(contact_mailer_path, role: "form") do %>
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <%= label_tag(:name, "Name") %>
                                        <%= text_field_tag :name,'', class: "form-control" %>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <%= label_tag(:email, "Email") %>
                                        <%= email_field :email ,'', class: "form-control" %>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <%= label_tag(:phone_number, "Phone Number") %>
                                        <%= telephone_field :phone_number,'',class: "form-control" %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-lg-12">
                                        <%= label_tag(:content) %>
                                        <%= text_area_tag :content,'', class: "form-control" %>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <%= submit_tag "Submit", class: "btn btn-default" %>
                                    </div>
                                </div>
                            <% end %>
                </div>
            </div>
        </div>

    </div> 
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>
