<%= provide(:title, "Kohl Kohlbrenner - Portfolio") %>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
    <div class="container">
        <div class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Hello", "#head", class: "active" %></li>
                <li><a href="#about">About me</a></li>
                <li><a href="#themes">Portfolio</a></li>
                <li><a href="#contact">Get in touch</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
    <div class="container">

        <div class="row">
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center greeting">

                <!-- Site Title, your name, HELLO msg, etc. -->
                <h1 class="title">Kohl</h1>
                <h2 class="subtitle">Kohlbrenner</h2>

                <!-- Short introductory (optional) -->
                <h3 class="tagline">
                    Hi there!<br>
                    I'm glad to you're here! Take a look around and send me an email or request on social media!
                </h3>

            </div> <!-- /col -->
        </div> <!-- /row -->

    </div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
    <div class="container">

        <h2 class="text-center title">About me</h2>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <h5><strong>About Me<br></strong></h5>
                <p>
                  My name is Kohl and I live in Saint Louis, MO. For the past few months I have been working at an experience design company called Manifest. We're on our way to becoming one of the biggest
                  Drupal shops in the country. Some of our clients include BMW, Allstate, Delta Faucet, CDW, Marriot, JCK, Brand USA, Post, and you can find even more <%= link_to 'here!', www.manifest.com %>.
                  Before building websites with PHP, I learned how to code in Ruby and Ruby on Rails. I am really interested in tackling iOS and MVC JavaScript frameworks next! When I'm not coding or working,
                  you might find me running in the park, playing guitar, exploring photography, or sharpening my improv skills.
                </p>
            </div>
            <div class="col-sm-4">
                <h5>
                  <strong>
                    Career Goals<br>
                  </strong>
                </h5>
                <p>
                    I want something spectacular, that is mine, which I created from scratch. I love food; so much that for the longest time I thought about going to culinary school. In my wildest dreams, I see myself on the West Coast
                    at the beach, behind the grill of my beach bar, serving up homemade margaritas and fresh tacos filled with the local catch of the day. I'm a simple man with marvelous dreams.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section" id="themes">
    <div class="container">

        <h2 class="text-center title">Portfolio</h2>

        <div class="row">
            <div class="col-md-12">
            <div class="col-sm-4 col-sm-offset-2 ">
                <div class="thumbnail">
                    <%= image_tag('night.jpeg') %>
                    <div class="caption">
                        <h3>#Pinning</h3>
                        <p>My take on Pinterest</p>
                        <p><%= link_to "Go!", "http://damp-bastion-7658.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <%= image_tag('pelican.jpg') %>
                    <div class="caption">
                        <h3>Twitter clone</h3>
                        <p>A clone of Twitter</p>
                        <p><%= link_to "Go!", "http://twitter-fun.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-12">
            <div class="col-sm-4 col-sm-offset-2 ">
                <div class="thumbnail">
                    <%= image_tag('desktop.jpeg') %>
                    <div class="caption">
                        <h3>Daft Magazine</h3>
                        <p>HFC Tech Academy project. Satirical news site. Seeded using Faker.</p>
                        <p><%= link_to "Go!", "http://daftmagazine.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <%= image_tag('busy.jpg') %>
                    <div class="caption">
                        <h3>HFC Social Site</h3>
                        <p>Social Networking site for HFC Tech Academy Alumni</p>
                        <p><%= link_to "Go!", "http://lit-forest-6326.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-12">
            <div class="col-sm-4 col-sm-offset-2 ">
                <div class="thumbnail">
                    <%= image_tag('coffee.jpeg') %>
                    <div class="caption">
                        <h3>Recipe Site</h3>
                        <p>For personal use. Implemented various backend capabilities to increase learning.</p>
                        <p><a href="http://floating-gorge-1093.herokuapp.com" class="btn btn-default" role="button" >Go!</a></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <%= image_tag('clouds.jpeg') %>
                    <div class="caption">
                        <h3>Next Project</h3>
                        <p>Stripe Integration. Coming soon!</p>
                        <p><a href="https://github.com/kohl00/car_mart" class="btn btn-default" role="button">Go!</a></p>
                    </div>
                </div>
            </div>
            </div>

        </div>
        <p class="lead text-center">
            Placeholder images found at <%= link_to "Unsplash", "http://www.unsplash.com" %>
        </p>
    </div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
    <div class="container">

        <h2 class="text-center title">Get in touch</h2>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <a class="twitter-timeline" href="https://twitter.com/k_kohlbrenner" width="300"
  height="500" data-widget-id="594691510953709568">Tweets by @k_kohlbrenner</a>

                <ul class="list-inline list-social">
                    <li><a href="https://twitter.com/k_kohlbrenner" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
                    <li><a href="https://github.com/kohl00" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
                    <li><a href="https://www.linkedin.com/pub/kohl-kohlbrenner/74/123/298" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
                    <li><a href="https://medium.com/@kohlkohlbrenner" class="btn btn-link"><i class="fa fa-medium fa-fw"></i> Medium</a></li>

                </ul>
            </div>
            <div class=" col-sm-12 col-md-6 col-md-offset-3 contact_form">
                <%= form_tag(contact_mailer_path, remote: true, role: "form", id: "contact_form") do %>
                    <div class="row">
                        <div class="form-group col-md-4 col-md-offset-2 col-lg-4">
                            <%= text_field_tag :name,'', placeholder: "Name", class: "form-control" %>
                        </div>
                        <div class="form-group col-lg-4">
                            <%= email_field :email ,'', placeholder: "Email", class: "form-control" %>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                            <%= text_area_tag :content,"Leave a note. At a loss for words? Start by telling me about yourself!",class: "form-control" %>
                        </div>
                        <div class="form-group col-lg-12">
                            <%= button_tag "Send!", class: "btn btn-default", data: { disable_with: "<i class='fa fa-spinner'></i>" } %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
