<%= provide(:title, "Kohl Kohlbrenner - Portfolio") %>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
    <div class="container">
        <div class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Hello", "#head", class: "active" %></li>
                <li><a href="#about">About me</a></li>
                <li><a href="#themes">Portfolio</a></li>
                <li><a href="#contact">Get in touch</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
    <div class="container">

        <div class="row">
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center greeting">

                <!-- Site Title, your name, HELLO msg, etc. -->
                <h1 class="title">Kohl</h1>
                <h2 class="subtitle">Kohlbrenner</h2>

                <!-- Short introductory (optional) -->
                <h3 class="tagline">
                    Hi there!<br>
                    I'm glad to you're here! Take a look around and send me an email or request on social media!
                </h3>

            </div> <!-- /col -->
        </div> <!-- /row -->

    </div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
    <div class="container">

        <h2 class="text-center title">About me</h2>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <h5><strong>About Me<br></strong></h5>
                <p>
                    I'm Kohl Kohlbrenner, here in the digital flesh! I must admit, Kohl is just a nickname but everyone knows me by this alliterative appellation. I currently live in Summit, New Jersey which is about an hour outside of New York City. I went to college at Rutgers University in New Brunswick and graduated in 2013 with a degree in Economics. I joined Theta Chi Fraternity in my second year at Rutgers and was heavily involved with community service activities & extra-cirriculars.
                </p>
                <p>
                    My first job out of school was at Joel Isaacson & Co., a Financial & Tax Planning firm located in midtown Manhattan. My job title was Advisor Associate, which largely entailed collaborating with Senior CFP's on client portfolio construction & implementation, as well as keeping an open line of communication with clients. Something cool & valuable I learned at JICO was how to file tax returns!
                    While I met a lot of fantastic people & learned alot of valuable financial 'stuff', I ended up leaving for a few really good reasons.
                </p>
                <p>
                   I am someone who craves dynamicism -- I really hate staying still. I love to work out, create things, and I'm super competitive. So, the reason for my career change shouldn't really shock you: I found something that makes me really happy(cue 'Pharrell').
                   But, what does happy mean? I was really committed to Joel Isaacson; I read all the books I could, asked good questions, and formed relationships with my co-workers. I made an effort to help out in any way possible.
                   Ultimately, I could tell I was trying too hard to 'love' what I was doing. I had to be honest with myself and admit that it was OK to realize my 'first job' doesn't have to work out.

                   I couldn't find a 'purpose' in my career. It was kind of scary. I always told myself that if I wasn't passionate about what I was doing, it probably isn't worth the time.

                </p>
                <p>
                   I stumbled onto programming sort of my chance. It was a tweet by Barack Obama(probably his PR team) promoting the 'Hour of Code' campaign. I was in the subway and I am still amazed that I any had internet reception.
                   I checked out the link and was initially unimpressed. It wasn't until I got home and found <%= link_to "CodeCademy", "http://www.codecademy.com" %> that I was really hooked.
                   I spent hours that first night scratching my head, but I was having so much fun. I was engaged and focused. It was definitely challenging, but it didn't feel 'laborious'.
                </p>
                <p>
                    There were humps and bumps, long nights and early mornings, but through the struggles of learning, I found a passion in technology. I knew this skill would help me change the world, do something meaningful with my life, and I intended on devoting as much time as I could to learning. In August of 2014, I left my job after I accepted an invitation to HappyFunCorp's inaugural "Tech Bootcamp", which taught web development with Rails & Javascript. It was intense six-weeks, but I learned a lot and it helped me build a foundation of knowledge that has since propelled me into developing using more complex technologies.
                </p>

                <p>
                    I am really excited to begin learning CoffeeScript and testing in Rails with RSpec. Some of the resources I have used over time to learn how to code include:
                        <ul>
                            <li><%= link_to "RubyMonk", "http://www.rubymonk.com" %></li>
                            <li><%= link_to "CodeCademy", "http://www.codecademy.com" %></li>
                            <li><%= link_to "CodeSchool", "http://www.codeschool.com" %></li>
                            <li><%= link_to "GoRails", "http://www.gorails.com" %></li>
                            <li><%= link_to "W3Schools", "http://www.w3schools.com" %></li>
                        </ul>

                </p>
            </div>
            <div class="col-sm-4">
                <h5>
                  <strong>
                    Career Goals<br>
                  </strong>
                </h5>
                <p>
                  I want to find my 'happy place'. What that really translates to is a job where I am challenged, get to work on interesting projects, and collaborate with awesome people!
                  I really like the healthcare, food, and education start-up space. I am also interested in joining a development/design/advertising firm as a junior developer.
                </p>
                <p>
                  Building things and solving problems is what I love to do. I am quick-learner and truly devoted to developing(pun intended) into a world-class engineer. I will eat, sleep, and breathe whatever is needed to exceed expectations.
                  I am equally competitive as I am a great teammate. I am a very selfless person and always willing to help in any way possible.
                </p>
                <p>
                  Please drop me a line if you are looking to fill a junior role on your team!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section" id="themes">
    <div class="container">

        <h2 class="text-center title">Portfolio</h2>

        <div class="row">
            <div class="col-md-12">
            <div class="col-sm-4 col-sm-offset-2 ">
                <div class="thumbnail">
                    <%= image_tag('night.jpeg') %>
                    <div class="caption">
                        <h3>#Pinning</h3>
                        <p>My take on Pinterest</p>
                        <p><%= link_to "Go!", "http://damp-bastion-7658.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <%= image_tag('pelican.jpg') %>
                    <div class="caption">
                        <h3>Twitter clone</h3>
                        <p>A clone of Twitter</p>
                        <p><%= link_to "Go!", "http://twitter-fun.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-12">
            <div class="col-sm-4 col-sm-offset-2 ">
                <div class="thumbnail">
                    <%= image_tag('desktop.jpeg') %>
                    <div class="caption">
                        <h3>Daft Magazine</h3>
                        <p>HFC Tech Academy project. Satirical news site. Seeded using Faker.</p>
                        <p><%= link_to "Go!", "http://daftmagazine.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <%= image_tag('busy.jpg') %>
                    <div class="caption">
                        <h3>HFC Social Site</h3>
                        <p>Social Networking site for HFC Tech Academy Alumni</p>
                        <p><%= link_to "Go!", "http://lit-forest-6326.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-12">
            <div class="col-sm-4 col-sm-offset-2 ">
                <div class="thumbnail">
                    <%= image_tag('coffee.jpeg') %>
                    <div class="caption">
                        <h3>Recipe Site</h3>
                        <p>For personal use. Implemented various backend capabilities to increase learning.</p>
                        <p><a href="http://floating-gorge-1093.herokuapp.com" class="btn btn-default" role="button" >Go!</a></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <%= image_tag('clouds.jpeg') %>
                    <div class="caption">
                        <h3>Next Project</h3>
                        <p>Stripe Integration. Coming soon!</p>
                        <p><a href="https://github.com/kohl00/car_mart" class="btn btn-default" role="button">Go!</a></p>
                    </div>
                </div>
            </div>
            </div>

        </div>
        <p class="lead text-center">
            Placeholder images found at <%= link_to "Unsplash", "http://www.unsplash.com" %>
        </p>
    </div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
    <div class="container">

        <h2 class="text-center title">Get in touch</h2>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <a class="twitter-timeline" href="https://twitter.com/k_kohlbrenner" width="300"
  height="500" data-widget-id="594691510953709568">Tweets by @k_kohlbrenner</a>

                <ul class="list-inline list-social">
                    <li><a href="https://twitter.com/k_kohlbrenner" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
                    <li><a href="https://github.com/kohl00" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
                    <li><a href="https://www.linkedin.com/pub/kohl-kohlbrenner/74/123/298" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
                    <li><a href="https://medium.com/@kohlkohlbrenner" class="btn btn-link"><i class="fa fa-medium fa-fw"></i> Medium</a></li>

                </ul>
            </div>
            <div class=" col-sm-12 col-md-6 col-md-offset-3 contact_form">
                <%= form_tag(contact_mailer_path, remote: true, role: "form", id: "contact_form") do %>
                    <div class="row">
                        <div class="form-group col-md-4 col-md-offset-2 col-lg-4">
                            <%= text_field_tag :name,'', placeholder: "Name", class: "form-control" %>
                        </div>
                        <div class="form-group col-lg-4">
                            <%= email_field :email ,'', placeholder: "Email", class: "form-control" %>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                            <%= text_area_tag :content,"Leave a note. At a loss for words? Start by telling me about yourself!",class: "form-control" %>
                        </div>
                        <div class="form-group col-lg-12">
                            <%= button_tag "Send!", class: "btn btn-default", data: { disable_with: "<i class='fa fa-spinner'></i>" } %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
