<%= provide(:title, "Kohl Kohlbrenner - Portfolio") %>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
    <div class="container">
        <div class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Hello", "#head", class: "active" %></li>
                <li><a href="#about">About me</a></li>
                <li><a href="#themes">Portfolio</a></li>
                <li><a href="#contact">Get in touch</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
    <div class="container">

        <div class="row">
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center greeting">   

                <!-- Site Title, your name, HELLO msg, etc. -->
                <h1 class="title">Kohl</h1>
                <h2 class="subtitle">Kohlbrenner</h2>

                <!-- Short introductory (optional) -->
                <h3 class="tagline">
                    Hi there!<br>
                    Thanks for hanging out with me. Take a look around and when you're ready, send me an email or request on social media!
                </h3>
    
            </div> <!-- /col -->
        </div> <!-- /row -->
    
    </div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
    <div class="container">
    
        <h2 class="text-center title">About me</h2>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">    
                <h5><strong>About Me<br></strong></h5>
                <p>
                    I'm Kohl Kohlbrenner, here in the digital flesh! Kohl is just a nickname, but everybody knows me by this alliterative appellation. I currently live in Summit, New Jersey which is about an hour outside of New York City. In fact, New Jersey has been my home for almost my entire life (don't hold that against me!). I grew up in a small down just outside of Philadelphia, went to college in PA for two years before coming back to the Garden State and graduating from Rutgers University. I studied Economics, was involved heavily in extra curriculars, and joined Theta Chi Fraternity in Fall 2011. 
                </p>
                <p>
                    My first job out of college was at Joel Isaacson & Co., a Financial & Tax Planning firm located in midtown Manhattan. As an Advisor Associate, my days consisted of interfacing with clients, meeting with senior CFP's to discuss and implement invest strategies, creating meeting portfolios for client meetings, and co-maintaining the firm's alternative investment platform. 
                </p>
                <p>
                    Ultimately, I realized what I was doing wasn't making me happy; I wasn't excited about waking up early in the morning to get ready for a day of work I wasn't really looking forward to. Then, by accident or luck, on the subway during my ride home I read a tweet by Barack Obama. The POTUS was promoting the 'Hour of Code' campaign. Up until that point, I hadn't any real experience with 'code'. My initial impressions weren't all that great, but it wasn't until I found <%= link_to "CodeCademy", "http://www.codecademy.com" %> that I became hooked on learning how to program. 
                </p>
                <p>
                    There were humps and bumps, long nights and early mornings, but through the struggles of learning, I found a passion in technology. I knew this skill would help me change the world, do something meaningful with my life, and I intended on devoting as much time as I could to learning. In August of 2014, I left my job and accepted an invitation to HappyFunCorp's inaugural "Tech Bootcamp", which taught web development with Rails & Javascript. It was intense six-weeks, but I learned a lot and it helped me build a foundation of knowledge that has since propelled me into developing using more complex technologies.
                </p>
                <p>
                    I have experience using HTML,CSS,Sass, Ruby, Ruby on Rails, Javascript, jQuery, and currently messing with PHP. Some of the resources I have used include:
                        <ul>
                            <li><%= link_to "RubyMonk", "http://www.rubymonk.com" %></li>
                            <li><%= link_to "CodeCademy", "http://www.codecademy.com" %></li>
                            <li><%= link_to "CodeSchool", "http://www.codeschool.com" %></li>
                            <li><%= link_to "GoRails", "http://www.gorails.com" %></li>
                            <li><%= link_to "W3Schools", "http://www.w3schools.com" %></li>
                        </ul>

                </p>    
            </div>
            <div class="col-sm-4">
                <h5><strong>Career Goals<br></strong></h5>    
                <p>
                    Most importantly, I want to be happy. Being happy and consistently challenged at work I think are the inputs that produce exceptional work-life balances. As human beings, I think we all want to be acknowledged for being a part of something great, something life-changing -- I am no different! Technology is what has and what will be the catalyst of change. I want to find something exciting and captivating. I genuinely enjoy working and never have or will complain about working early or late. As long as I have a great group of people around me, I'll no complaints.
                </p>
                <p>
                    In addition to dev/design firms, I am really interested in the healthcare, food, social, and financial tech space.
                </p>
                <p>
                    If you are currently looking for a junior person to fill a position on your team, I'd love to chat!
                </p>    

            </div>
        </div>
    </div>
</section>

<!-- Third (Works) section -->
<section class="section" id="themes">
    <div class="container">
    
        <h2 class="text-center title">Portfolio</h2>

        <div class="row">
            <div class="col-md-12">
            <div class="col-sm-4 col-sm-offset-2 ">
                <div class="thumbnail">
                    <%= image_tag('night.jpeg') %>
                    <div class="caption">
                        <h3>#Pinning</h3>
                        <p>My take on Pinterest</p>
                        <p><%= link_to "Go!", "http://damp-bastion-7658.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <%= image_tag('pelican.jpg') %>
                    <div class="caption">
                        <h3>Twitter clone</h3>
                        <p>A clone of Twitter</p>
                        <p><%= link_to "Go!", "http://twitter-fun.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-12">
            <div class="col-sm-4 col-sm-offset-2 ">
                <div class="thumbnail">
                    <%= image_tag('desktop.jpeg') %>
                    <div class="caption">
                        <h3>Daft Magazine</h3>
                        <p>HFC Tech Academy project. Satirical news site. Seeded using Faker.</p>
                        <p><%= link_to "Go!", "http://daftmagazine.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <%= image_tag('busy.jpg') %>
                    <div class="caption">
                        <h3>HFC Social Site</h3>
                        <p>Social Networking site for HFC Tech Academy Alumni</p>
                        <p><%= link_to "Go!", "http://lit-forest-6326.herokuapp.com", class: "btn btn-default", role: "button" %></p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-12">
            <div class="col-sm-4 col-sm-offset-2 ">
                <div class="thumbnail">
                    <%= image_tag('coffee.jpeg') %>
                    <div class="caption">
                        <h3>Recipe Site</h3>
                        <p>For personal use. Implemented various backend capabilities to increase learning.</p>
                        <p><a href="http://floating-gorge-1093.herokuapp.com" class="btn btn-default" role="button" >Go!</a></p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="thumbnail">
                    <%= image_tag('clouds.jpeg') %>
                    <div class="caption">
                        <h3>Next Project</h3>
                        <p>Stripe Integration. Coming soon!</p>
                        <p><a href="https://github.com/kohl00/car_mart" class="btn btn-default" role="button">Go!</a></p>
                    </div>
                </div>
            </div>
            </div>
            
        </div>
        <p class="lead text-center">
            Placeholder images found at <%= link_to "Unsplash", "http://www.unsplash.com" %>
        </p>
    </div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
    <div class="container">
    
        <h2 class="text-center title">Get in touch</h2>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <a class="twitter-timeline" href="https://twitter.com/k_kohlbrenner" width="300"
  height="500" data-widget-id="594691510953709568">Tweets by @k_kohlbrenner</a> 

                <ul class="list-inline list-social">
                    <li><a href="https://twitter.com/k_kohlbrenner" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
                    <li><a href="https://github.com/kohl00" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
                    <li><a href="https://www.linkedin.com/pub/kohl-kohlbrenner/74/123/298" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
                    <li><a href="https://medium.com/@kohlkohlbrenner" class="btn btn-link"><i class="fa fa-medium fa-fw"></i> Medium</a></li>

                </ul>
            </div>
            <div class=" col-sm-12 col-md-6 col-md-offset-3 contact_form">
                <%= form_tag(contact_mailer_path, remote: true, role: "form", id: "contact_form") do %>
                    <div class="row">
                        <div class="form-group col-md-4 col-md-offset-2 col-lg-4">
                            <%= text_field_tag :name,'', placeholder: "Name", class: "form-control" %>
                        </div>
                        <div class="form-group col-lg-4">
                            <%= email_field :email ,'', placeholder: "Email", class: "form-control" %>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                            <%= text_area_tag :content,"Leave a note. At a loss for words? Start by telling me about yourself!",class: "form-control" %>
                        </div>
                        <div class="form-group col-lg-12">
                            <%= button_tag "Send!", class: "btn btn-default", data: { disable_with: "<i class='fa fa-spinner'></i>" } %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
